.popup__field {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-top: 5px;
    padding-bottom: 10px;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

}

.popup__field:first-child {
    margin-bottom: 32px;
}

.popup__field:focus-visible {
    outline: transparent;
}
